
.section-cards {
      z-index: 4;
      position: relative;
  }
  
  .section-gray {
      background: #E5E5E5;
      padding: 60px 0 30px 0;
  }
  
  
  /*---------------------------------------------------------------------- /
  CARDS for dashboard_appointment page
  ----------------------------------------------------------------------- */
  
  .card {
      display: inline-block;
      position: relative;
      width: 100%;
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.87);
      background: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .card .card-image {
      height: 40%;
      position: relative;
      overflow: hidden;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -30px;
      border-radius: 6px;
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .card .card-image img {
      width: 90%;
      height: 90%;
      border-radius: 6px;
      pointer-events: none;
  }
  
  .card .card-image .card-caption {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: #fff;
      font-size: 1.3em;
      text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
  }
  
  .card img {
      width: 100%;
      height: auto;
  }
  
  .img-raised {
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .card .ftr {
      margin-top: 15px;
  }
  
  .card .ftr div {
      display: inline-block;
  }
  
  .card .ftr .author {
      color: #888;
  }
  
  .card .ftr .stats {
      float: right;
      line-height: 30px;
  }
  
  .card .ftr .stats {
      position: relative;
      top: 1px;
      font-size: 14px;
  }
  /* ============ Card Table ============ */
  
  .table {
      margin-bottom: 0px;
  }
  
  .card .table {
      padding: 15px 30px;
  }
  
  .card .table-primary {
      background: linear-gradient(60deg, #ab47bc, #7b1fa2);
  }
  
  .card .table-info {
      background: linear-gradient(60deg, #26c6da, #0097a7);
  }
  
  .card .table-success {
      background: linear-gradient(60deg, #66bb6a, #388e3c);
  }
  
  .card .table-warning {
      background: linear-gradient(60deg, #ffa726, #f57c00);
  }
  
  .card .table-danger {
      background: linear-gradient(60deg, #ef5350, #d32f2f);
  }
  
  .card .table-rose {
      background: linear-gradient(60deg, #ec407a, #c2185b);
  }
  
  .card [class*="table-"] {
      color: #FFFFFF;
      border-radius: 6px;
  }
  
  .card [class*="table-"] .card-caption a,
  .card [class*="table-"] .card-caption,
  .card [class*="table-"] .icon i {
      color: #FFFFFF;
  }
  
  .card [class*="table-"] .icon i {
      border-color: rgba(255, 255, 255, 0.25);
  }
  
  .card [class*="table-"] .author a,
  .card [class*="table-"] .ftr .stats,
  .card [class*="table-"] .category,
  .card [class*="table-"] .card-description {
      color: rgba(255, 255, 255, 0.8);
  }
  
  .card [class*="table-"] .author a:hover,
  .card [class*="table-"] .author a:focus,
  .card [class*="table-"] .author a:active {
      color: #FFFFFF;
  }
  
  .card [class*="table-"] h1 small,
  .card [class*="table-"] h2 small,
  .card [class*="table-"] h3 small {
      color: rgba(255, 255, 255, 0.8);
  }
  
  
  
  