.bgstyle{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('../image/backimg.jpeg');
}
/* testsearch page style*/
.bgimage{
    background: url('../image/popular.jpg');
    background-repeat: no-repeat;
    height: 200px;
    width: 1000px;

}
.form-control:focus {  
    box-shadow: none;  
  }  
  .form-control-underlined {  
    border-width: 0;  
    border-bottom-width: 1px;  
    border-radius: 0;  
    padding-left: 0;  
  }  
  
  .form-control::placeholder {  
    font-size: 0.95rem;  
    color: #aaa;  
    font-style: italic;  
  }  
  
  h5 {  
  font-family: 'Indie Flower', cursive;  
  font-size: 32px;  
    color: #03A9F4;  
    font-weight: bold;  
  } 
  /*appointment*/
  
